<div class="content-container">
  <img class="image" [src]="mapOfItaly">
  <h2>Italy</h2>
  <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium laoreet augue. Maecenas ante arcu, sodales sed
      leo ut, tincidunt rutrum metus. Fusce interdum auctor pharetra. Nunc leo nisl, viverra sed diam ac, pellentesque
      eleifend felis. Vivamus luctus rhoncus velit, et varius eros. Fusce gravida varius nisl non porttitor. Nulla ornare
      sed sem sed pellentesque. Ut vel elit at risus varius iaculis id accumsan tortor. Maecenas eget malesuada purus.
      Duis scelerisque accumsan neque sed aliquet. Vestibulum ex massa, pretium ut felis vitae, tristique rhoncus tortor.
      Proin tempor suscipit sagittis. Donec pretium eu nulla a lobortis. Praesent facilisis arcu tellus, eu rhoncus sapien
      vehicula sed. In leo ex, faucibus quis efficitur vitae, laoreet rhoncus odio. Praesent gravida, massa at tempus eleifend,
      est nibh hendrerit felis, a rhoncus augue erat quis nisl. Donec felis odio, volutpat a nulla in, gravida convallis
      massa. Fusce egestas massa eget tristique venenatis. In non pretium elit. Vivamus at bibendum nisi. Vivamus a mollis
      purus, ut volutpat leo. Sed congue enim est. Phasellus turpis sapien, semper sed scelerisque ut, interdum id libero.
      Suspendisse tristique euismod urna, nec tempor ipsum. Aenean vulputate odio elit, non consequat felis bibendum vitae.
      Donec ornare tellus eget tellus consectetur viverra. Duis luctus commodo mauris et tincidunt. Curabitur eu placerat
      magna. Cras vehicula porta lectus, eget hendrerit ante blandit nec. Etiam neque tortor, porta egestas condimentum
      a, suscipit eu metus. Quisque ut euismod risus. Mauris eget ante vel sapien dignissim convallis non ac quam. Cras
      sit amet mi et lorem mollis sodales. Nulla id auctor metus.
  </p>
  <div class="bg">
  </div>   
</div>
<div class="slider">
  <angular-image-slider class="slider" [images]="photos"></angular-image-slider>
</div>
