.image{
    margin: 2%;
    width: auto;
    max-height: 45vh;
    border-radius: 2%;
    float: right;
}

.bg{
    background: url("../../assets/img/italy/flag_of_italy.png") center center; 
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 92vh;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-size: 100%
}

.content-container{
    z-index: 1;
    position: relative;
    height: 50vh;
}

.text{
	text-align: justify;
	margin-bottom: -.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.slider{
    width: 100%;
    max-height: 10vh;
    z-index: 1;
    position: relative;
}

.page{
    max-height: 100vh;
}

angular-image-slider /deep/ .overlay-left, angular-image-slider /deep/ .overlay-right{
    background-color: inherit;
}

angular-image-slider /deep/ #slider-buttons-left, angular-image-slider /deep/ #slider-buttons-right{
    color: #FFFF;
}

angular-image-slider /deep/ .ng-tns-c2-0{
    /* max-height: 30vh; */
    bottom: 0
}
