@media screen and (min-width: 50em)
{
    .header {
        height: 5em;
    }
}

.header {
    position: "absolute";
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 3.5em;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    max-width: 60em;
    margin: 0 auto;
    padding: 0;
    height: 7.5em;
    align-items: flex-start;
}

.navigation-item{
    flex: 1 1 0;
    order: 0;
    display: flex;
    height: 3em;
    align-items: center;
    justify-content:  center;

}

.navigation-item a:not(.header-logo){
    color: #fff;
    font-weight: 600;
    text-decoration:  none;
    padding: 0.75em 1em;
    white-space: nowrap;
    font-size: 1em;
}

.header-logo{
    display: block;
    width: 10em;
    height: 4em;
    margin: 0.30em auto 0;
    background: url("/assets/img/airplane logo.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 30% auto;
}

.navigation-item-left{
    margin-left: 35%;
}