    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="navigation-item navigation-item-left">
            <a routerLink="search">Search a flight</a>
            <a routerLink="popularDirections">Popular Directions</a>
        </li>
        <li class="navigation-item">
            <a class="header-logo" href="#"></a> 
          </li>
        <li class="navigation-item">
          <a routerLink="profile">My Profile</a>
        </li>
        <li class="navigation-item">
          <a routerLink="aboutProject">About Project</a>
        </li>
      </ul>
    </div>
      </nav>
    <router-outlet></router-outlet>


