<div>
  <h1 class="header">
    Flight search
  </h1>
  <div class="text">
    <p>
      Projekt został wykonany na potrzeby pzedmiotu Architektury i technologie systemów internetowych.
    </p>
    <p>
      Motywem przewodnim projektu jest przykład wyszukiwarki połączeń lotniczych między dwoma punktami. Projekt napisany
      został przy użyciu frameworku Angular, oraz oczywiście z wykorzystaniem html i css. W niektórych miejscach
      skorzystano z gotowych arkuszy stylów ng-bootstrap (popular directions komponent), w innych stylizacja została
      wykonana przeze mnie (wyszukiwarka). W poniższym projekcie nie skorzystano z żadnego api udostępniające dane na
      temat lotów. Dane generowane są losowo, przez prosta implementację interfejsu IFlightProviders. Wyszukiwarka
      pozwala wybrac podróż w jedną strone, lub w dwie.
    </p>
    <p>
      Popular Directions, jest to podstrona która pozwala na zwiedzenie podstron poświęconym Hiszpani i Włochą. Żeby
      dostać się na te strony, należy użyć scrola, lub kliknąć w tytuł "Spain", lub "Italy". Będąc na stronie
      poświęconej Hiszpani można dostać się z powrotem na stronę popular Directions (scroll w górę), lub na stronę
      poświęconą Włochą (scroll w dół). Będąc na podstronie Italy, używając scrolla w górę można dostać się na stronę o
      Hiszpani.
    </p>
    <p>
      My profile, jest to strona, której zamysłem było dostanie się na stronę zalogowanego użytkownika, jednak nie
      zdążyłem zaimplementować tej funkcjonalności, więc ostatecznie zostałą jedynie pusta strona, będąca szablonem do
      logowania.
    </p>
  </div>
</div>