/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

/* body {
    background: url("/assets/img/background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
} */