<ngb-carousel *ngIf="countries" >
    <ng-template ngbSlide>
      <img class="image" [src]="countries[0]" alt="Italy big picture">
      <div class="carousel-caption">
        <a class="header-link" routerLink="../italy">Italy</a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="image" [src]="countries[1]" alt="Spain big picture">
      <div class="carousel-caption">
        <a class="header-link" routerLink="../spain">Spain</a>
      </div>
    </ng-template>
  </ngb-carousel>