.slider-image{
    max-width:100%;
    max-height: 50%;
}



.carousel-item{
    width: auto;
    height: 100px;
    max-height: 100px;
}

.image{
    width: 100%;
    max-height: 85vh;
}

.link-label {
	color: #fff;
	text-align: center;
	font-size: 1.75rem;
	margin-bottom: -.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.header-link{
    font-size: 1.75rem;
    color: white;
}