.flight-search-form{
    z-index: 1;
    border-radius: 5px;
    padding: 2%;
    margin-top: 20%;
    /* margin-left: 25%;
    margin-right: 25%; */
    width: auto;
    position: absolute;
    box-sizing: unset;
    left: 50%;
    margin-left: -425px;
    background-color: #ffffff;
    height: calc(4em + 0.75rem + 2px);
}

.div-input {
    margin: 0% 2% 0% 2%;
    float: left;
}

.div-float-right {
    float: right;
    overflow: hidden;
}

.field-spacer {
    display: inline-block;
    width: 16px;
}

.icon-wrapper{
    width: calc(1em + 0.1rem + 0.4px);
}

.switch-button {
    background: url("/assets/img/switch-icon.png");
    width: calc(2em + 0.1rem + 0.4px);
    border-radius: 25%;
}

.div-inline{
    display: inline-block;
}

.search-button-wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(-35px/2);
}

.background-image{
    z-index: -1;
    position: absolute;
    width: 75%;
    max-height: 45vh;
    border-radius: 25px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.bottom-table{
    margin-top: 40%;
    margin-left: 10%;
    z-index: 1;;
    position: relative;
    width: 80%;
    height: auto;
}

.table{
    border: 1px solid black;
    border-radius: 3px;
}