<img class="background-image" src="../../assets/img/plane.jpg">
<!-- <form [formGroup]="flightForm"(submit)="search()" > -->
<form [formGroup]="flightForm">
  <div class="form-control flight-search-form" style="display: inline-block;">
    <div style="display: inline;">
      <div>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{directions}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button (click)="onDirectionClicked($event)" ngbDropdownItem>One way</button>
            <button (click)="onDirectionClicked($event)" ngbDropdownItem>Round trip</button>
          </div>
        </div>
      </div>
    </div>
    <!-- input row -->
    <div class="div-inline">
      <input placeholder="Departure" type="search" formControlName="departurePlace">

      <button class="switch-button" (click)="onSwitchClicked()">
        <img class="icon-wrapper" src="assets/img/switch-icon.png" />
      </button>
      <input placeholder="Arrival" type="search" formControlName="destinationPlace">
      <div class="field-spacer"></div>
      <div class="div-float-right">
        <input placeholder="Departure Date" formControlName="departureDate" [owlDateTimeTrigger]="departureDT"
          [owlDateTime]="departureDT">
        <owl-date-time #departureDT [pickerType]="'calendar'"></owl-date-time>
      </div>
      <div class="div-float-right" [hidden]="!isRoundTrip">
        <input placeholder="Return Date" formControlName="returnDate" [owlDateTimeTrigger]="returnDT"
          [owlDateTime]="returnDT">
        <owl-date-time #returnDT [pickerType]="'calendar'"></owl-date-time>
      </div>
    </div>
    <div class="search-button-wrapper">
      <input type="submit" class="btn btn-primary" value="Search" (click)="search()" />
    </div>
  </div>
</form>

<div style="display: inline" [hidden]="!searchResultsVisibe">
  <table class="table table-striped btn-table bottom-table">
    <thead>
      <tr>
        <th scope="col">Departure: {{searchedDeparturePlace}}</th>
        <th scope="col">Arrival: {{searchedArrivalPlace}}</th>
        <th scope="col">Duration</th>
        <th scope="col">Price</th>
      </tr>
      <tr *ngFor="let result of results">
        <td>{{result.departure | date:'shortTime'}}</td>
        <td>{{result.arrival | date:'shortTime'}}</td>
        <td>{{result.duration}} hr</td>
        <td>{{result.price | currency}}</td>
      </tr>
    </thead>
  </table>
</div>

<div style="display: inline" [hidden]="!isRoundTrip">
  <div style="display: inline" [hidden]="!searchResultsVisibe">
  <table class="table table-striped btn-table bottom-table">
    <thead>
      <tr>
        <th scope="col">Departure: {{searchedArrivalPlace}}</th>
        <th scope="col">Arrival: {{searchedDeparturePlace}}</th>
        <th scope="col">Duration</th>
        <th scope="col">Price</th>
      </tr>
      <tr *ngFor="let result of returnResults">
        <td>{{result.departure | date:'shortTime'}}</td>
        <td>{{result.arrival | date:'shortTime'}}</td>
        <td>{{result.duration}} hr</td>
        <td>{{result.price | currency}}</td>
      </tr>
    </thead>
  </table>
</div>
</div>