<!-- <div class="row">
  <div class="col-md-4 col-offset-md-4">
    <form (submit)="onLogin()" #theForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" [(ngModel)]="user.username" #userName="ngModel" required />
        <div class="text-danger" *ngIf="userName.touched && userName.invalid && userName?.errors?.required">Username is incorrect</div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="user.password" #password="ngModel" required/>
        <div class="text-danger" *ngIf="password.touched && password.invalid && password?.errors?.required">Password</div>
      </div>
      <div>
        <input type="submit" class="btn btn-success" value="Login" [disabled]="theForm.invalid"/>
      </div>
    </form>
  </div>
</div>
 -->

 <div class="container">
  <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin" (submit)="onLogin()" #theForm="ngForm">
          <span id="reauth-email" class="reauth-email"></span>
          <input type="text" name="username" class="form-control" placeholder="Username" [(ngModel)]="user.username" #userName="ngModel" required autofocus>
          <div class="text-danger" *ngIf="userName.touched && userName.invalid && userName?.errors?.required">Username is incorrect</div>
          <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" #password="ngModel">
          <div class="text-danger" *ngIf="password.touched && password.invalid && password?.errors?.required">Password</div>
          <div class="text-danger" *ngIf="password.touched && password.invalid && password?.errors?.required">Password</div>
          <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
          </div>
          <input type="submit" class="btn btn-lg btn-primary btn-block btn-signin" value="Sign in" />
      </form><!-- /form -->
      <a href="#" class="forgot-password">
          Forgot the password?
      </a>
  </div><!-- /card-container -->
</div><!-- /container -->